* {
    background-color: whitesmoke;
}

/* h1 {
    color: aliceblue;
}

h2 {
    color: aliceblue;
}

h3 {
    color: aliceblue;
} */

h1,h2,h3 {
    color: aliceblue;
    background-color: black;
}

span {
    color: rgb(122, 16, 51);
}

#kegiatan2 {
    color: blue;
}

.penting {
    background-color: aqua;
}